In [1]:
# here comes the imports!

import numpy as np
import pandas as pd
import seaborn as sns


import matplotlib.pyplot as plt;
%matplotlib inline

import datetime
import time

In [2]:
# imports relativos a machine learning
import sklearn
from sklearn.model_selection import train_test_split

import h2o
from h2o.automl import H2OAutoML


from sklearn.metrics import f1_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import roc_auc_score

# Versões dos pacotes utilizados!
## Isto é relevante com respeito às questões 3 e 4, em que é pedido para especificar as versões das bibliotecas de Python para que os resultados possam ser reproduzidos.

In [3]:


print('A versão do numpy é {}'.format(np.__version__))
print('A versão do pandas é {}'.format(pd.__version__))
print('A versão do seaborn é {}'.format(sns.__version__))
print('A versão do sklearn é {}'.format(sklearn.__version__))
print('A versão do h2o é {}'.format(h2o.__version__))

A versão do numpy é 1.16.2
A versão do pandas é 0.23.4
A versão do seaborn é 0.9.0
A versão do sklearn é 0.20.3
A versão do h2o é 3.18.0.2

# vamos ler o dataset utilizando o pandas!

In [4]:
data_json='./dataset.json'

df=pd.read_json(data_json)

In [5]:
df

,branch_id,customer_code,group_code,is_churn,item_code,item_total_price,order_id,quantity,register_date,sales_channel,segment_code,seller_code,total_price,unit_price
0,0,143,0,0.0,854,292.91,21804,10,2017-11-10T00:00:00Z,0,0,190,1613.53,25.04
1,0,433,0,0.0,246,287.19,5486,20,2011-05-16T00:00:00Z,1,5,153,11163.69,12.33
2,0,486,0,0.0,1420,184.84,22662,12,2018-01-24T00:00:00Z,0,0,166,6432.12,12.80
3,0,107,0,0.0,1963,189.18,3956,18,2010-07-28T00:00:00Z,1,0,156,831.82,10.51
4,0,768,0,0.0,1786,66.87,4730,5,2010-12-17T00:00:00Z,1,0,218,1736.48,11.82
5,0,740,0,0.0,2854,226.80,1835,10,2009-05-07T00:00:00Z,8,0,213,445.10,21.60
6,0,58,0,0.0,246,105.51,11450,6,2013-12-17T00:00:00Z,0,0,179,573.06,15.68
7,0,408,0,0.0,1842,34.26,2504,6,2009-09-29T00:00:00Z,1,0,199,1201.44,5.71
8,0,25,0,0.0,1767,482.60,21773,10,2017-11-09T00:00:00Z,0,0,94,1397.78,48.26
9,0,58,0,0.0,410,66.42,843,2,2008-08-19T00:00:00Z,1,0,179,2687.76,31.63
10,0,763,0,1.0,1962,154.26,4887,18,2011-01-27T00:00:00Z,1,4,183,9282.78,8.57
11,0,475,0,0.0,2843,147.24,10497,12,2013-07-31T00:00:00Z,0,0,285,1593.99,12.27
12,0,562,0,0.0,713,127.29,17327,3,2016-07-19T00:00:00Z,0,0,3,1378.27,42.43
13,0,28,0,0.0,2845,177.36,14007,6,2015-02-18T00:00:00Z,0,0,156,2680.41,177.36
14,0,114,2,1.0,1389,336.46,19992,1,2017-06-05T00:00:00Z,4,2,86,801.54,336.46
15,0,400,0,0.0,667,29.13,50,1,2008-01-18T00:00:00Z,8,0,50,1828.01,27.74
16,0,187,0,0.0,1045,26.97,20306,1,2017-07-10T00:00:00Z,0,0,94,377.62,26.97
17,0,613,0,0.0,1591,3.99,22733,1,2018-01-29T00:00:00Z,0,0,177,1001.31,3.93
18,0,217,0,0.0,1785,120.66,24315,6,2018-06-13T00:00:00Z,0,0,201,1914.84,20.11
19,0,470,0,1.0,538,188.44,16449,1,2016-03-15T00:00:00Z,0,5,56,695.67,165.05
20,0,459,0,0.0,2127,7.15,16419,1,2016-03-10T00:00:00Z,0,0,171,1930.31,7.15
21,0,525,0,0.0,1767,606.92,5779,12,2011-07-09T00:00:00Z,1,0,193,2337.68,44.41
22,0,503,0,0.0,1548,183.61,23462,6,2018-03-21T00:00:00Z,0,0,27,6458.48,27.82
23,0,273,0,0.0,1101,170.68,18052,3,2016-10-24T00:00:00Z,0,1,101,4438.28,51.72
24,0,781,0,0.0,1785,47.84,3550,4,2010-05-07T00:00:00Z,1,0,270,1034.10,11.96
25,0,768,0,0.0,283,90.33,6247,4,2011-09-22T00:00:00Z,1,0,218,838.08,19.83
26,0,267,0,0.0,1837,182.20,615,12,2008-06-26T00:00:00Z,8,0,47,733.50,13.56
27,0,548,0,0.0,795,138.24,5391,12,2011-04-29T00:00:00Z,1,0,61,2877.70,11.52
28,0,738,0,0.0,1778,87.32,18824,2,2017-02-02T00:00:00Z,0,0,156,1343.99,43.66
29,0,145,0,0.0,284,120.72,11391,6,2013-12-04T00:00:00Z,0,0,154,1168.78,17.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204398,0,611,0,0.0,2630,470.66,11825,24,2014-02-21T00:00:00Z,0,0,256,3873.96,17.22
204399,0,310,0,0.0,361,104.32,1539,5,2009-02-19T00:00:00Z,1,0,204,1530.79,19.87
204400,0,370,0,0.0,1962,59.92,15247,6,2015-08-28T00:00:00Z,0,0,90,4769.05,9.63
204401,0,732,0,0.0,741,163.17,20720,1,2017-08-15T00:00:00Z,0,0,181,2865.39,163.17
204402,0,143,0,0.0,2624,37.06,8621,2,2012-09-29T00:00:00Z,0,0,190,1141.00,17.84
204403,0,77,0,0.0,1839,16.39,14198,6,2015-03-16T00:00:00Z,0,0,42,1011.58,15.18
204404,0,737,0,0.0,411,314.00,3946,10,2010-07-27T00:00:00Z,6,0,268,3669.98,31.40
204405,0,633,2,1.0,37,60.06,13982,6,2015-02-11T00:00:00Z,7,2,190,1018.44,52.74
204406,0,142,0,0.0,722,449.74,14383,5,2015-04-15T00:00:00Z,6,0,127,13889.18,82.04
204407,0,503,0,0.0,1785,91.50,15717,6,2015-11-17T00:00:00Z,0,0,27,5270.09,15.25
204408,0,633,2,1.0,579,12.39,14647,4,2015-05-29T00:00:00Z,7,2,190,1003.56,2.72
204409,0,385,0,0.0,2844,59.24,2225,4,2009-07-30T00:00:00Z,1,0,256,1619.26,14.81
204410,0,287,0,0.0,1409,400.66,18294,6,2016-11-17T00:00:00Z,0,0,227,7929.78,55.49
204411,0,266,0,0.0,2336,37.53,17846,1,2016-09-23T00:00:00Z,0,0,106,1071.65,37.53
204412,0,836,0,1.0,907,114.05,18725,3,2017-01-24T00:00:00Z,0,1,181,1024.31,34.56
204413,0,249,0,0.0,1411,324.34,24084,6,2018-05-18T00:00:00Z,0,0,123,2281.91,44.92
204414,0,399,0,0.0,767,289.07,17556,11,2016-08-16T00:00:00Z,0,0,153,7260.20,22.03
204415,0,731,0,0.0,1767,2502.87,11628,50,2014-01-24T00:00:00Z,0,0,166,5423.40,43.28
204416,0,114,2,1.0,245,832.16,663,50,2008-07-10T00:00:00Z,7,2,130,1330.00,14.86
204417,0,438,0,0.0,1100,102.10,8276,3,2012-08-21T00:00:00Z,1,0,38,1536.85,30.94
204418,0,11,0,0.0,2059,95.74,15466,6,2015-10-02T00:00:00Z,6,0,98,1303.29,12.78
204419,0,199,0,0.0,2891,19.60,21563,1,2017-10-19T00:00:00Z,0,0,113,1502.48,17.82
204420,0,429,0,0.0,1101,335.34,24524,5,2018-06-28T00:00:00Z,0,0,143,1270.93,60.97
204421,0,166,1,1.0,2861,567.17,22648,20,2018-01-24T00:00:00Z,0,3,115,44618.42,24.65
204422,0,733,0,0.0,2626,109.98,911,4,2008-09-09T00:00:00Z,1,0,171,6270.03,22.59
204423,0,141,0,0.0,2624,235.19,18922,12,2017-02-15T00:00:00Z,0,0,78,1481.02,19.03
204424,0,31,0,0.0,844,100.81,24146,1,2018-05-23T00:00:00Z,0,0,181,1105.38,100.81
204425,0,192,0,0.0,1785,51.08,13285,3,2014-10-20T00:00:00Z,0,0,253,1059.66,15.18
204426,0,687,0,0.0,1412,230.32,15167,4,2015-08-18T00:00:00Z,0,0,190,3167.71,50.56
204427,0,9,0,0.0,24,46.35,9452,10,2013-02-26T00:00:00Z,0,0,143,4930.51,4.03

In [7]:
# verificando o tipo das variaveis
df.dtypes

branch_id             int64
customer_code         int64
group_code            int64
is_churn            float64
item_code             int64
item_total_price    float64
order_id              int64
quantity              int64
register_date        object
sales_channel         int64
segment_code          int64
seller_code           int64
total_price         float64
unit_price          float64
dtype: object

## Os tipos das variaveis parecem bem razoaveis
## A coluna 'register_date' que é do tipo objeto, ela representa datas

# Vamos ver as dimensões desse DataFrame!
# Podemos acessar isso através do atributo .shape

In [8]:
df.shape

(204428, 14)

In [9]:
print('Temos {0} linhas.'.format(df.shape[0]))
print('Temos {0} colunas.'.format(df.shape[1]))

Temos 204428 linhas.
Temos 14 colunas.

# Verificando se há duplicatas!

In [10]:

print(df.duplicated().any())
print(df.duplicated().sum())

True
53

# Há 53 duplicatas! Vamos retirá-las.

In [11]:
df.drop_duplicates(inplace=True)

In [12]:
# verificando, novamente, se há duplicatas

print(df.duplicated().any())
print(df.duplicated().sum())

False
0

# Não há mais valores duplicados!

# Vamos ver valores faltantes nesse DataFrame

In [13]:
df.isnull().any()

branch_id           False
customer_code       False
group_code          False
is_churn             True
item_code           False
item_total_price    False
order_id            False
quantity            False
register_date       False
sales_channel       False
segment_code        False
seller_code         False
total_price         False
unit_price          False
dtype: bool

In [14]:
df.isnull().sum()

branch_id              0
customer_code          0
group_code             0
is_churn            1909
item_code              0
item_total_price       0
order_id               0
quantity               0
register_date          0
sales_channel          0
segment_code           0
seller_code            0
total_price            0
unit_price             0
dtype: int64

# só há valores faltantes na coluna 'is_churn'

# Há 1909 valores faltantes na coluna 'is_churn', o que pode parecer bastante, mas o correto é ver como esse número se compara com o total de linhas

In [15]:
print('Porcentagem de valores faltantes {0}%'.format(100*1909/df.shape[0]))

Porcentagem de valores faltantes 0.9340672782874617%

# Logo, temos menos de 1% de valores faltantes!

# Vamos proceder removendo esses valores, que são relativamente poucos, que estão faltando na coluna 'is_churn'

In [16]:
df.dropna(inplace=True)

# Vamos verificar se ainda há valores faltantes

In [17]:
df.isnull().any()

branch_id           False
customer_code       False
group_code          False
is_churn            False
item_code           False
item_total_price    False
order_id            False
quantity            False
register_date       False
sales_channel       False
segment_code        False
seller_code         False
total_price         False
unit_price          False
dtype: bool

# Não há mais valores faltantes!

# Lidando com a coluna que é do tipo objeto, que representa data!

In [18]:
df['register_date']

0         2017-11-10T00:00:00Z
1         2011-05-16T00:00:00Z
2         2018-01-24T00:00:00Z
3         2010-07-28T00:00:00Z
4         2010-12-17T00:00:00Z
5         2009-05-07T00:00:00Z
6         2013-12-17T00:00:00Z
7         2009-09-29T00:00:00Z
8         2017-11-09T00:00:00Z
9         2008-08-19T00:00:00Z
10        2011-01-27T00:00:00Z
11        2013-07-31T00:00:00Z
12        2016-07-19T00:00:00Z
13        2015-02-18T00:00:00Z
14        2017-06-05T00:00:00Z
15        2008-01-18T00:00:00Z
16        2017-07-10T00:00:00Z
17        2018-01-29T00:00:00Z
18        2018-06-13T00:00:00Z
19        2016-03-15T00:00:00Z
20        2016-03-10T00:00:00Z
21        2011-07-09T00:00:00Z
22        2018-03-21T00:00:00Z
23        2016-10-24T00:00:00Z
24        2010-05-07T00:00:00Z
25        2011-09-22T00:00:00Z
26        2008-06-26T00:00:00Z
27        2011-04-29T00:00:00Z
28        2017-02-02T00:00:00Z
29        2013-12-04T00:00:00Z
                  ...
204398    2014-02-21T00:00:00Z
204399    2009-02-19T00:00:00Z
204400    2015-08-28T00:00:00Z
204401    2017-08-15T00:00:00Z
204402    2012-09-29T00:00:00Z
204403    2015-03-16T00:00:00Z
204404    2010-07-27T00:00:00Z
204405    2015-02-11T00:00:00Z
204406    2015-04-15T00:00:00Z
204407    2015-11-17T00:00:00Z
204408    2015-05-29T00:00:00Z
204409    2009-07-30T00:00:00Z
204410    2016-11-17T00:00:00Z
204411    2016-09-23T00:00:00Z
204412    2017-01-24T00:00:00Z
204413    2018-05-18T00:00:00Z
204414    2016-08-16T00:00:00Z
204415    2014-01-24T00:00:00Z
204416    2008-07-10T00:00:00Z
204417    2012-08-21T00:00:00Z
204418    2015-10-02T00:00:00Z
204419    2017-10-19T00:00:00Z
204420    2018-06-28T00:00:00Z
204421    2018-01-24T00:00:00Z
204422    2008-09-09T00:00:00Z
204423    2017-02-15T00:00:00Z
204424    2018-05-23T00:00:00Z
204425    2014-10-20T00:00:00Z
204426    2015-08-18T00:00:00Z
204427    2013-02-26T00:00:00Z
Name: register_date, Length: 202466, dtype: object

In [19]:
# vamos lidar com essa coluna!

# redefinindo os índices

In [21]:
df=df.reset_index(drop=True)

In [22]:
# Usando série temporal!

In [23]:
df3=df.copy()

In [24]:
df3['Date']=pd.to_datetime(df3.register_date)

In [25]:
df3.sort_values(by='Date',inplace=True)

In [26]:
df3.drop('register_date',axis=1,inplace=True)

In [27]:
df3

,branch_id,customer_code,group_code,is_churn,item_code,item_total_price,order_id,quantity,sales_channel,segment_code,seller_code,total_price,unit_price,Date
91229,0,588,0,0.0,1768,166.04,0,2,6,0,212,710.79,79.07,2008-01-04
163387,0,588,0,0.0,2675,255.90,0,20,6,0,212,710.79,11.42,2008-01-04
51446,0,588,0,0.0,282,363.08,0,20,6,0,212,710.79,16.21,2008-01-04
81273,0,114,2,1.0,2675,382.65,1,50,7,2,130,341.65,6.83,2008-01-05
132216,0,435,0,0.0,2624,495.83,2,32,1,0,3,3035.75,14.76,2008-01-07
13263,0,681,0,0.0,1778,116.56,6,3,6,0,45,705.94,34.69,2008-01-07
171484,0,681,0,0.0,416,128.46,6,10,6,0,45,705.94,11.47,2008-01-07
78831,0,613,0,0.0,1767,520.61,4,10,8,0,177,1006.41,49.58,2008-01-07
149043,0,681,0,0.0,282,155.95,6,8,6,0,45,705.94,17.40,2008-01-07
65259,0,681,0,0.0,2630,176.85,6,10,6,0,45,705.94,16.84,2008-01-07
166370,0,558,0,0.0,2630,863.53,5,60,1,5,201,863.53,14.39,2008-01-07
141186,0,435,0,0.0,1774,171.35,2,3,1,0,3,3035.75,54.40,2008-01-07
74180,0,681,0,0.0,1785,108.26,6,7,6,0,45,705.94,13.81,2008-01-07
179837,0,435,0,0.0,1963,165.25,2,18,1,0,3,3035.75,8.74,2008-01-07
184853,0,613,0,0.0,2630,139.70,4,8,8,0,177,1006.41,16.63,2008-01-07
156838,0,435,0,0.0,1967,247.93,2,6,1,0,3,3035.75,39.35,2008-01-07
65466,0,613,0,0.0,390,130.66,4,4,8,0,177,1006.41,31.11,2008-01-07
124964,0,507,0,0.0,1778,206.39,3,6,1,0,171,831.24,27.04,2008-01-07
82712,0,613,0,0.0,360,118.70,4,6,8,0,177,1006.41,18.84,2008-01-07
34825,0,435,0,0.0,467,185.13,2,1,1,0,3,3035.75,176.31,2008-01-07
70044,0,681,0,0.0,1787,46.39,6,3,6,0,45,705.94,13.81,2008-01-07
201918,0,613,0,0.0,2624,147.05,4,8,8,0,177,1006.41,17.51,2008-01-07
194640,0,435,0,0.0,2259,162.49,2,12,1,0,3,3035.75,12.90,2008-01-07
101602,0,507,0,0.0,2630,142.46,3,8,1,0,171,831.24,15.02,2008-01-07
121151,0,507,0,0.0,1767,278.32,3,6,1,0,171,831.24,39.14,2008-01-07
106141,0,507,0,0.0,246,303.55,3,10,1,0,171,831.24,23.86,2008-01-07
202093,0,435,0,0.0,1966,326.06,2,12,1,0,3,3035.75,25.88,2008-01-07
90491,0,666,0,0.0,1767,624.73,7,12,8,0,47,722.97,49.58,2008-01-07
187515,0,666,0,0.0,282,115.49,7,6,8,0,47,722.97,17.19,2008-01-07
80350,0,681,0,0.0,1786,46.39,6,3,6,0,45,705.94,13.81,2008-01-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101597,0,557,0,0.0,2624,218.40,24614,12,0,6,120,1648.86,18.20,2018-07-06
148588,0,35,0,0.0,1778,127.85,24615,2,0,0,82,2818.63,53.12,2018-07-06
133815,0,311,0,0.0,24,71.65,24613,10,0,4,50,4688.33,6.23,2018-07-06
51473,0,311,0,0.0,2861,327.50,24613,10,0,4,50,4688.33,32.75,2018-07-06
38042,0,311,0,0.0,2860,131.00,24613,5,0,4,50,4688.33,26.20,2018-07-06
5092,0,311,0,0.0,2847,334.62,24613,6,0,4,50,4688.33,55.77,2018-07-06
97054,0,557,0,0.0,795,329.22,24614,18,0,6,120,1648.86,18.29,2018-07-06
168083,0,35,0,0.0,1781,108.66,24615,2,0,0,82,2818.63,45.15,2018-07-06
75691,0,35,0,0.0,1414,315.32,24615,2,0,0,82,2818.63,131.01,2018-07-06
48813,0,35,0,0.0,1787,51.14,24615,2,0,0,82,2818.63,21.25,2018-07-06
55981,0,35,0,0.0,1410,235.43,24615,4,0,0,82,2818.63,48.91,2018-07-06
11538,0,311,0,0.0,2844,225.20,24613,10,0,4,50,4688.33,22.52,2018-07-06
198938,0,557,0,0.0,1767,376.20,24614,6,0,6,120,1648.86,62.70,2018-07-06
169952,0,35,0,0.0,1601,193.12,24615,2,0,0,82,2818.63,80.24,2018-07-06
21326,0,311,0,0.0,2865,520.25,24613,5,0,4,50,4688.33,104.05,2018-07-06
70408,0,35,0,0.0,1605,396.01,24615,3,0,0,82,2818.63,109.69,2018-07-06
200294,0,250,2,0.0,1159,4.23,24612,3,7,2,250,552.35,1.41,2018-07-06
179780,0,35,0,0.0,246,277.26,24615,10,0,0,82,2818.63,23.04,2018-07-06
120443,0,250,2,0.0,1740,22.44,24612,1,7,2,250,552.35,22.44,2018-07-06
18901,0,557,0,0.0,2630,327.60,24614,18,0,6,120,1648.86,18.20,2018-07-06
186255,0,35,0,0.0,1412,235.43,24615,4,0,0,82,2818.63,48.91,2018-07-06
30169,0,311,0,0.0,2866,353.84,24613,2,0,4,50,4688.33,176.92,2018-07-06
199564,0,557,0,0.0,359,252.36,24614,12,0,6,120,1648.86,21.03,2018-07-06
81784,0,114,2,1.0,773,101.95,24616,2,7,2,86,295.57,39.97,2018-07-07
49123,0,114,2,1.0,889,175.49,24616,3,7,2,86,295.57,50.01,2018-07-07
320,0,114,2,1.0,1924,76.74,24616,20,7,2,86,295.57,3.28,2018-07-07
162600,0,759,0,0.0,2854,126.01,24617,3,0,0,124,1954.26,36.51,2018-07-08
154902,0,759,0,0.0,1970,1211.05,24617,3,0,0,124,1954.26,389.96,2018-07-08
156230,0,759,0,0.0,2863,374.40,24617,5,0,0,124,1954.26,65.09,2018-07-08
183722,0,759,0,0.0,2624,361.70,24617,20,0,0,124,1954.26,17.47,2018-07-08

In [28]:
#df3=df3.reset_index(drop=True,inplace=True)
df3=df3.reset_index(drop=True)

In [29]:
df3

,branch_id,customer_code,group_code,is_churn,item_code,item_total_price,order_id,quantity,sales_channel,segment_code,seller_code,total_price,unit_price,Date
0,0,588,0,0.0,1768,166.04,0,2,6,0,212,710.79,79.07,2008-01-04
1,0,588,0,0.0,2675,255.90,0,20,6,0,212,710.79,11.42,2008-01-04
2,0,588,0,0.0,282,363.08,0,20,6,0,212,710.79,16.21,2008-01-04
3,0,114,2,1.0,2675,382.65,1,50,7,2,130,341.65,6.83,2008-01-05
4,0,435,0,0.0,2624,495.83,2,32,1,0,3,3035.75,14.76,2008-01-07
5,0,681,0,0.0,1778,116.56,6,3,6,0,45,705.94,34.69,2008-01-07
6,0,681,0,0.0,416,128.46,6,10,6,0,45,705.94,11.47,2008-01-07
7,0,613,0,0.0,1767,520.61,4,10,8,0,177,1006.41,49.58,2008-01-07
8,0,681,0,0.0,282,155.95,6,8,6,0,45,705.94,17.40,2008-01-07
9,0,681,0,0.0,2630,176.85,6,10,6,0,45,705.94,16.84,2008-01-07
10,0,558,0,0.0,2630,863.53,5,60,1,5,201,863.53,14.39,2008-01-07
11,0,435,0,0.0,1774,171.35,2,3,1,0,3,3035.75,54.40,2008-01-07
12,0,681,0,0.0,1785,108.26,6,7,6,0,45,705.94,13.81,2008-01-07
13,0,435,0,0.0,1963,165.25,2,18,1,0,3,3035.75,8.74,2008-01-07
14,0,613,0,0.0,2630,139.70,4,8,8,0,177,1006.41,16.63,2008-01-07
15,0,435,0,0.0,1967,247.93,2,6,1,0,3,3035.75,39.35,2008-01-07
16,0,613,0,0.0,390,130.66,4,4,8,0,177,1006.41,31.11,2008-01-07
17,0,507,0,0.0,1778,206.39,3,6,1,0,171,831.24,27.04,2008-01-07
18,0,613,0,0.0,360,118.70,4,6,8,0,177,1006.41,18.84,2008-01-07
19,0,435,0,0.0,467,185.13,2,1,1,0,3,3035.75,176.31,2008-01-07
20,0,681,0,0.0,1787,46.39,6,3,6,0,45,705.94,13.81,2008-01-07
21,0,613,0,0.0,2624,147.05,4,8,8,0,177,1006.41,17.51,2008-01-07
22,0,435,0,0.0,2259,162.49,2,12,1,0,3,3035.75,12.90,2008-01-07
23,0,507,0,0.0,2630,142.46,3,8,1,0,171,831.24,15.02,2008-01-07
24,0,507,0,0.0,1767,278.32,3,6,1,0,171,831.24,39.14,2008-01-07
25,0,507,0,0.0,246,303.55,3,10,1,0,171,831.24,23.86,2008-01-07
26,0,435,0,0.0,1966,326.06,2,12,1,0,3,3035.75,25.88,2008-01-07
27,0,666,0,0.0,1767,624.73,7,12,8,0,47,722.97,49.58,2008-01-07
28,0,666,0,0.0,282,115.49,7,6,8,0,47,722.97,17.19,2008-01-07
29,0,681,0,0.0,1786,46.39,6,3,6,0,45,705.94,13.81,2008-01-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202436,0,557,0,0.0,2624,218.40,24614,12,0,6,120,1648.86,18.20,2018-07-06
202437,0,35,0,0.0,1778,127.85,24615,2,0,0,82,2818.63,53.12,2018-07-06
202438,0,311,0,0.0,24,71.65,24613,10,0,4,50,4688.33,6.23,2018-07-06
202439,0,311,0,0.0,2861,327.50,24613,10,0,4,50,4688.33,32.75,2018-07-06
202440,0,311,0,0.0,2860,131.00,24613,5,0,4,50,4688.33,26.20,2018-07-06
202441,0,311,0,0.0,2847,334.62,24613,6,0,4,50,4688.33,55.77,2018-07-06
202442,0,557,0,0.0,795,329.22,24614,18,0,6,120,1648.86,18.29,2018-07-06
202443,0,35,0,0.0,1781,108.66,24615,2,0,0,82,2818.63,45.15,2018-07-06
202444,0,35,0,0.0,1414,315.32,24615,2,0,0,82,2818.63,131.01,2018-07-06
202445,0,35,0,0.0,1787,51.14,24615,2,0,0,82,2818.63,21.25,2018-07-06
202446,0,35,0,0.0,1410,235.43,24615,4,0,0,82,2818.63,48.91,2018-07-06
202447,0,311,0,0.0,2844,225.20,24613,10,0,4,50,4688.33,22.52,2018-07-06
202448,0,557,0,0.0,1767,376.20,24614,6,0,6,120,1648.86,62.70,2018-07-06
202449,0,35,0,0.0,1601,193.12,24615,2,0,0,82,2818.63,80.24,2018-07-06
202450,0,311,0,0.0,2865,520.25,24613,5,0,4,50,4688.33,104.05,2018-07-06
202451,0,35,0,0.0,1605,396.01,24615,3,0,0,82,2818.63,109.69,2018-07-06
202452,0,250,2,0.0,1159,4.23,24612,3,7,2,250,552.35,1.41,2018-07-06
202453,0,35,0,0.0,246,277.26,24615,10,0,0,82,2818.63,23.04,2018-07-06
202454,0,250,2,0.0,1740,22.44,24612,1,7,2,250,552.35,22.44,2018-07-06
202455,0,557,0,0.0,2630,327.60,24614,18,0,6,120,1648.86,18.20,2018-07-06
202456,0,35,0,0.0,1412,235.43,24615,4,0,0,82,2818.63,48.91,2018-07-06
202457,0,311,0,0.0,2866,353.84,24613,2,0,4,50,4688.33,176.92,2018-07-06
202458,0,557,0,0.0,359,252.36,24614,12,0,6,120,1648.86,21.03,2018-07-06
202459,0,114,2,1.0,773,101.95,24616,2,7,2,86,295.57,39.97,2018-07-07
202460,0,114,2,1.0,889,175.49,24616,3,7,2,86,295.57,50.01,2018-07-07
202461,0,114,2,1.0,1924,76.74,24616,20,7,2,86,295.57,3.28,2018-07-07
202462,0,759,0,0.0,2854,126.01,24617,3,0,0,124,1954.26,36.51,2018-07-08
202463,0,759,0,0.0,1970,1211.05,24617,3,0,0,124,1954.26,389.96,2018-07-08
202464,0,759,0,0.0,2863,374.40,24617,5,0,0,124,1954.26,65.09,2018-07-08
202465,0,759,0,0.0,2624,361.70,24617,20,0,0,124,1954.26,17.47,2018-07-08

In [30]:
# Extracting date features
#df3['Date'].dt.weekofyear

df3['dayofmonth'] = df3['Date'].dt.day
df3['dayofyear'] = df3['Date'].dt.dayofyear
df3['dayofweek'] = df3['Date'].dt.dayofweek
df3['month'] = df3['Date'].dt.month
df3['year'] = df3['Date'].dt.year
df3['weekofyear'] = df3['Date'].dt.weekofyear
df3['is_month_start'] = (df3['Date'].dt.is_month_start).astype(int)
df3['is_month_end'] = (df3['Date'].dt.is_month_end).astype(int)

In [31]:
df3.drop('Date',axis=1,inplace=True)

In [32]:
df3

,branch_id,customer_code,group_code,is_churn,item_code,item_total_price,order_id,quantity,sales_channel,segment_code,...,total_price,unit_price,dayofmonth,dayofyear,dayofweek,month,year,weekofyear,is_month_start,is_month_end
0,0,588,0,0.0,1768,166.04,0,2,6,0,...,710.79,79.07,4,4,4,1,2008,1,0,0
1,0,588,0,0.0,2675,255.90,0,20,6,0,...,710.79,11.42,4,4,4,1,2008,1,0,0
2,0,588,0,0.0,282,363.08,0,20,6,0,...,710.79,16.21,4,4,4,1,2008,1,0,0
3,0,114,2,1.0,2675,382.65,1,50,7,2,...,341.65,6.83,5,5,5,1,2008,1,0,0
4,0,435,0,0.0,2624,495.83,2,32,1,0,...,3035.75,14.76,7,7,0,1,2008,2,0,0
5,0,681,0,0.0,1778,116.56,6,3,6,0,...,705.94,34.69,7,7,0,1,2008,2,0,0
6,0,681,0,0.0,416,128.46,6,10,6,0,...,705.94,11.47,7,7,0,1,2008,2,0,0
7,0,613,0,0.0,1767,520.61,4,10,8,0,...,1006.41,49.58,7,7,0,1,2008,2,0,0
8,0,681,0,0.0,282,155.95,6,8,6,0,...,705.94,17.40,7,7,0,1,2008,2,0,0
9,0,681,0,0.0,2630,176.85,6,10,6,0,...,705.94,16.84,7,7,0,1,2008,2,0,0
10,0,558,0,0.0,2630,863.53,5,60,1,5,...,863.53,14.39,7,7,0,1,2008,2,0,0
11,0,435,0,0.0,1774,171.35,2,3,1,0,...,3035.75,54.40,7,7,0,1,2008,2,0,0
12,0,681,0,0.0,1785,108.26,6,7,6,0,...,705.94,13.81,7,7,0,1,2008,2,0,0
13,0,435,0,0.0,1963,165.25,2,18,1,0,...,3035.75,8.74,7,7,0,1,2008,2,0,0
14,0,613,0,0.0,2630,139.70,4,8,8,0,...,1006.41,16.63,7,7,0,1,2008,2,0,0
15,0,435,0,0.0,1967,247.93,2,6,1,0,...,3035.75,39.35,7,7,0,1,2008,2,0,0
16,0,613,0,0.0,390,130.66,4,4,8,0,...,1006.41,31.11,7,7,0,1,2008,2,0,0
17,0,507,0,0.0,1778,206.39,3,6,1,0,...,831.24,27.04,7,7,0,1,2008,2,0,0
18,0,613,0,0.0,360,118.70,4,6,8,0,...,1006.41,18.84,7,7,0,1,2008,2,0,0
19,0,435,0,0.0,467,185.13,2,1,1,0,...,3035.75,176.31,7,7,0,1,2008,2,0,0
20,0,681,0,0.0,1787,46.39,6,3,6,0,...,705.94,13.81,7,7,0,1,2008,2,0,0
21,0,613,0,0.0,2624,147.05,4,8,8,0,...,1006.41,17.51,7,7,0,1,2008,2,0,0
22,0,435,0,0.0,2259,162.49,2,12,1,0,...,3035.75,12.90,7,7,0,1,2008,2,0,0
23,0,507,0,0.0,2630,142.46,3,8,1,0,...,831.24,15.02,7,7,0,1,2008,2,0,0
24,0,507,0,0.0,1767,278.32,3,6,1,0,...,831.24,39.14,7,7,0,1,2008,2,0,0
25,0,507,0,0.0,246,303.55,3,10,1,0,...,831.24,23.86,7,7,0,1,2008,2,0,0
26,0,435,0,0.0,1966,326.06,2,12,1,0,...,3035.75,25.88,7,7,0,1,2008,2,0,0
27,0,666,0,0.0,1767,624.73,7,12,8,0,...,722.97,49.58,7,7,0,1,2008,2,0,0
28,0,666,0,0.0,282,115.49,7,6,8,0,...,722.97,17.19,7,7,0,1,2008,2,0,0
29,0,681,0,0.0,1786,46.39,6,3,6,0,...,705.94,13.81,7,7,0,1,2008,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202436,0,557,0,0.0,2624,218.40,24614,12,0,6,...,1648.86,18.20,6,187,4,7,2018,27,0,0
202437,0,35,0,0.0,1778,127.85,24615,2,0,0,...,2818.63,53.12,6,187,4,7,2018,27,0,0
202438,0,311,0,0.0,24,71.65,24613,10,0,4,...,4688.33,6.23,6,187,4,7,2018,27,0,0
202439,0,311,0,0.0,2861,327.50,24613,10,0,4,...,4688.33,32.75,6,187,4,7,2018,27,0,0
202440,0,311,0,0.0,2860,131.00,24613,5,0,4,...,4688.33,26.20,6,187,4,7,2018,27,0,0
202441,0,311,0,0.0,2847,334.62,24613,6,0,4,...,4688.33,55.77,6,187,4,7,2018,27,0,0
202442,0,557,0,0.0,795,329.22,24614,18,0,6,...,1648.86,18.29,6,187,4,7,2018,27,0,0
202443,0,35,0,0.0,1781,108.66,24615,2,0,0,...,2818.63,45.15,6,187,4,7,2018,27,0,0
202444,0,35,0,0.0,1414,315.32,24615,2,0,0,...,2818.63,131.01,6,187,4,7,2018,27,0,0
202445,0,35,0,0.0,1787,51.14,24615,2,0,0,...,2818.63,21.25,6,187,4,7,2018,27,0,0
202446,0,35,0,0.0,1410,235.43,24615,4,0,0,...,2818.63,48.91,6,187,4,7,2018,27,0,0
202447,0,311,0,0.0,2844,225.20,24613,10,0,4,...,4688.33,22.52,6,187,4,7,2018,27,0,0
202448,0,557,0,0.0,1767,376.20,24614,6,0,6,...,1648.86,62.70,6,187,4,7,2018,27,0,0
202449,0,35,0,0.0,1601,193.12,24615,2,0,0,...,2818.63,80.24,6,187,4,7,2018,27,0,0
202450,0,311,0,0.0,2865,520.25,24613,5,0,4,...,4688.33,104.05,6,187,4,7,2018,27,0,0
202451,0,35,0,0.0,1605,396.01,24615,3,0,0,...,2818.63,109.69,6,187,4,7,2018,27,0,0
202452,0,250,2,0.0,1159,4.23,24612,3,7,2,...,552.35,1.41,6,187,4,7,2018,27,0,0
202453,0,35,0,0.0,246,277.26,24615,10,0,0,...,2818.63,23.04,6,187,4,7,2018,27,0,0
202454,0,250,2,0.0,1740,22.44,24612,1,7,2,...,552.35,22.44,6,187,4,7,2018,27,0,0
202455,0,557,0,0.0,2630,327.60,24614,18,0,6,...,1648.86,18.20,6,187,4,7,2018,27,0,0
202456,0,35,0,0.0,1412,235.43,24615,4,0,0,...,2818.63,48.91,6,187,4,7,2018,27,0,0
202457,0,311,0,0.0,2866,353.84,24613,2,0,4,...,4688.33,176.92,6,187,4,7,2018,27,0,0
202458,0,557,0,0.0,359,252.36,24614,12,0,6,...,1648.86,21.03,6,187,4,7,2018,27,0,0
202459,0,114,2,1.0,773,101.95,24616,2,7,2,...,295.57,39.97,7,188,5,7,2018,27,0,0
202460,0,114,2,1.0,889,175.49,24616,3,7,2,...,295.57,50.01,7,188,5,7,2018,27,0,0
202461,0,114,2,1.0,1924,76.74,24616,20,7,2,...,295.57,3.28,7,188,5,7,2018,27,0,0
202462,0,759,0,0.0,2854,126.01,24617,3,0,0,...,1954.26,36.51,8,189,6,7,2018,27,0,0
202463,0,759,0,0.0,1970,1211.05,24617,3,0,0,...,1954.26,389.96,8,189,6,7,2018,27,0,0
202464,0,759,0,0.0,2863,374.40,24617,5,0,0,...,1954.26,65.09,8,189,6,7,2018,27,0,0
202465,0,759,0,0.0,2624,361.70,24617,20,0,0,...,1954.26,17.47,8,189,6,7,2018,27,0,0

# Agora vamos às questões!

# Question 1 (10 Points)
List as many use cases for the dataset as possible.

Re: Os casos de uso de uso para o conjunto de dados são:

1. saber em função do preço total 'total price' quantos clientes estão comprando certo item, criando intervalos para o preço total onde há maior lucro; 
2. saber qual canal de venda gera maior lucro 'sales_channel', determinando uma preferência e onde investir;
3. determinar a partir de 'register_date' (data de pedido) qual ano período gerou maior lucro;
4. determinar a partir de 'total_price' (preço total) qual faixa gera mais lucro, buscando assim maximizar o lucro e otimizar o tipo de cliente;
5. a partir de 'segment_code' (código de segmento que o cliente pertence) otimizar ...
6. a partir de 'group_code' (código de grupo) otimizar o lucro da empresa e encontrar qual é o grupo ótimo de consumidor em que se deve ser investido mais esforços;
7. criar um modelo preditivo a partir de 'is_churn' para obter informações sobre qual grupo, segmento, canal de venda, vendedor, tem maior chance de que esse cliente retorne;
8. estudar qual 'seller_code' (código de vendedor) tem mais sucesso com os clientes.

# Question 2 (10 Points)
Pick one of the use cases you listed in question 1 and describe how building a statistical model based on the dataset could best be used to improve the business this data comes from.

Re: Escolhendo o caso de uso $7$ da questão $1$ podemos criar um modelo estatístico, de machine learning, para prever se um dado cliente voltará, estudando então a influência dos features na predição dos dados.

# Question 3 (20 Points)
Implement the model you described in question 2, preferably in Python. The code has to retrieve the data, train and test a statistical model, and report relevant performance criteria. Ideally, we should be able to replicate your analysis from your submitted source-code, so please explicit the versions of the tools and packages you are using.

# A versão dos pacotes!

In [33]:


print('A versão do numpy é {}'.format(np.__version__))
print('A versão do pandas é {}'.format(pd.__version__))
print('A versão do seaborn é {}'.format(sns.__version__))
print('A versão do sklearn é {}'.format(sklearn.__version__))
print('A versão do h2o é {}'.format(h2o.__version__))

A versão do numpy é 1.16.2
A versão do pandas é 0.23.4
A versão do seaborn é 0.9.0
A versão do sklearn é 0.20.3
A versão do h2o é 3.18.0.2

# separando em dados de treino e teste

In [34]:
#df_ml=df2.copy()
df_ml=df3.copy()

In [35]:
#msk = np.random.random(len(df_ml)) < 0.8
# criando a mascara
percent=0.66

msk=[]
for i in range(len(df_ml)):
    msk.append(i<=percent*len(df_ml))
msk=np.array(msk)

In [36]:
train = df_ml[msk]

In [37]:
test=df_ml[~msk]

# Vamos utilizar h2o para automatizar os cálculos estatísticos de machine learning.
# Vamos initializar h2o!

In [40]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321. connected.
Warning: Your H2O cluster version is too old (1 year, 5 months and 6 days)! Please download and install the latest version from http://h2o.ai/download/

--------------------------  ----------------------------------------
H2O cluster uptime:         11 secs
H2O cluster timezone:       America/Sao_Paulo
H2O data parsing timezone:  UTC
H2O cluster version:        3.18.0.2
H2O cluster version age:    1 year, 5 months and 6 days !!!
H2O cluster name:           H2O_from_python_vagner_ig2b41
H2O cluster total nodes:    1
H2O cluster free memory:    3.433 Gb
H2O cluster total cores:    8
H2O cluster allowed cores:  8
H2O cluster status:         locked, healthy
H2O connection url:         http://localhost:54321
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         XGBoost, Algos, AutoML, Core V3, Core V4
Python version:             3.6.9 final
--------------------------  ----------------------------------------

In [41]:
train.iloc[-1]

branch_id               0.00
customer_code         377.00
group_code              0.00
is_churn                0.00
item_code            1048.00
item_total_price       97.08
order_id            16241.00
quantity                6.00
sales_channel           0.00
segment_code            0.00
seller_code            50.00
total_price          3216.77
unit_price             16.18
dayofmonth             17.00
dayofyear              48.00
dayofweek               2.00
month                   2.00
year                 2016.00
weekofyear              7.00
is_month_start          0.00
is_month_end            0.00
Name: 133627, dtype: float64

In [42]:
test.iloc[1]

branch_id               0.00
customer_code         428.00
group_code              0.00
is_churn                0.00
item_code             410.00
item_total_price      138.60
order_id            16245.00
quantity                3.00
sales_channel           0.00
segment_code            0.00
seller_code            39.00
total_price          1697.39
unit_price             45.64
dayofmonth             17.00
dayofyear              48.00
dayofweek               2.00
month                   2.00
year                 2016.00
weekofyear              7.00
is_month_start          0.00
is_month_end            0.00
Name: 133629, dtype: float64

In [43]:
train=h2o.H2OFrame(train)

/home/vagner/anaconda3/lib/python3.6/site-packages/h2o/utils/shared_utils.py:170: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  data = _handle_python_lists(python_obj.as_matrix().tolist(), -1)[1]

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [44]:
test=h2o.H2OFrame(test)

/home/vagner/anaconda3/lib/python3.6/site-packages/h2o/utils/shared_utils.py:170: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  data = _handle_python_lists(python_obj.as_matrix().tolist(), -1)[1]

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [45]:
# Identify predictors and response
x = train.columns
y = "is_churn"
x.remove(y)

In [46]:
x

['branch_id',
 'customer_code',
 'group_code',
 'item_code',
 'item_total_price',
 'order_id',
 'quantity',
 'sales_channel',
 'segment_code',
 'seller_code',
 'total_price',
 'unit_price',
 'dayofmonth',
 'dayofyear',
 'dayofweek',
 'month',
 'year',
 'weekofyear',
 'is_month_start',
 'is_month_end']

# Let us visualize train

In [47]:
train

branch_id,customer_code,group_code,is_churn,item_code,item_total_price,order_id,quantity,sales_channel,segment_code,seller_code,total_price,unit_price,dayofmonth,dayofyear,dayofweek,month,year,weekofyear,is_month_start,is_month_end
0,588,0,0,1768,166.04,0,2,6,0,212,710.79,79.07,4,4,4,1,2008,1,0,0
0,588,0,0,2675,255.9,0,20,6,0,212,710.79,11.42,4,4,4,1,2008,1,0,0
0,588,0,0,282,363.08,0,20,6,0,212,710.79,16.21,4,4,4,1,2008,1,0,0
0,114,2,1,2675,382.65,1,50,7,2,130,341.65,6.83,5,5,5,1,2008,1,0,0
0,435,0,0,2624,495.83,2,32,1,0,3,3035.75,14.76,7,7,0,1,2008,2,0,0
0,681,0,0,1778,116.56,6,3,6,0,45,705.94,34.69,7,7,0,1,2008,2,0,0
0,681,0,0,416,128.46,6,10,6,0,45,705.94,11.47,7,7,0,1,2008,2,0,0
0,613,0,0,1767,520.61,4,10,8,0,177,1006.41,49.58,7,7,0,1,2008,2,0,0
0,681,0,0,282,155.95,6,8,6,0,45,705.94,17.4,7,7,0,1,2008,2,0,0
0,681,0,0,2630,176.85,6,10,6,0,45,705.94,16.84,7,7,0,1,2008,2,0,0

# Let us visualize the test

In [48]:
test

branch_id,customer_code,group_code,is_churn,item_code,item_total_price,order_id,quantity,sales_channel,segment_code,seller_code,total_price,unit_price,dayofmonth,dayofyear,dayofweek,month,year,weekofyear,is_month_start,is_month_end
0,237,0,0,1767,542.66,16232,10,6,0,288,2341.66,47.65,17,48,2,2,2016,7,0,0
0,428,0,0,410,138.6,16245,3,0,0,39,1697.39,45.64,17,48,2,2,2016,7,0,0
0,812,0,0,1760,14.4,16240,10,0,0,3,2361.59,1.44,17,48,2,2,2016,7,0,0
0,636,0,0,204,117.08,16233,6,0,0,177,2702.81,19.18,17,48,2,2,2016,7,0,0
0,103,0,0,361,295.08,16230,10,0,0,198,5736.58,25.91,17,48,2,2,2016,7,0,0
0,636,0,0,1788,180.6,16233,4,0,0,177,2702.81,44.38,17,48,2,2,2016,7,0,0
0,636,0,0,2630,183.32,16233,10,0,0,177,2702.81,18.11,17,48,2,2,2016,7,0,0
0,237,0,0,1767,542.66,16229,10,6,0,288,2174.14,47.65,17,48,2,2,2016,7,0,0
0,377,0,0,1045,149.34,16241,6,0,0,50,3216.77,24.89,17,48,2,2,2016,7,0,0
0,812,0,0,1434,100.3,16240,10,0,0,3,2361.59,10.03,17,48,2,2,2016,7,0,0

In [49]:
# For binary classification, response should be a factor
train[y] = train[y].asfactor()

In [50]:
test[y] = test[y].asfactor()

In [51]:
# Vamos limitar o número máximo de modelos
# Vamos tirar cross-validation, colocando nfols=0
# vamos limitar o tempo maximo de calculo

In [52]:
# Run AutoML for 20 base models (limited to 1 hour max runtime by default)
aml = H2OAutoML(max_models=5,nfolds=0,max_runtime_secs=1200, seed=1)
aml.train(x=x, y=y, training_frame=train)

AutoML progress: |████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

In [53]:
#salvando o modelo

In [54]:
#model_path = h2o.save_model(model=aml, path="./mymodel", force=True)
#h2o.save_model(aml.leader, path = "./mymodel")

In [55]:
aml.leader

Model Details
=============
H2OGradientBoostingEstimator :  Gradient Boosting Machine
Model Key:  GBM_grid_0_AutoML_20190811_201902_model_0


ModelMetricsBinomial: gbm
** Reported on train data. **

MSE: 3.285506325756697e-35
RMSE: 5.731933640366658e-18
LogLoss: 1.484852297690794e-19
Mean Per-Class Error: 0.0
AUC: 1.0
Gini: 1.0
Confusion Matrix (Act/Pred) for max f1 @ threshold = 1.0:

       0      1      Error    Rate
-----  -----  -----  -------  --------------
0      86203  0      0        (0.0/86203.0)
1      0      20718  0        (0.0/20718.0)
Total  86203  20718  0        (0.0/106921.0)

Maximum Metrics: Maximum metrics at their respective thresholds

metric                       threshold    value    idx
---------------------------  -----------  -------  -----
max f1                       1            1        0
max f2                       1            1        0
max f0point5                 1            1        0
max accuracy                 1            1        0
max precision                1            1        0
max recall                   1            1        0
max specificity              1            1        0
max absolute_mcc             1            1        0
max min_per_class_accuracy   1            1        0
max mean_per_class_accuracy  1            1        0

Gains/Lift Table: Avg response rate: 19,38 %

    group    cumulative_data_fraction    lower_threshold    lift      cumulative_lift    response_rate    cumulative_response_rate    capture_rate    cumulative_capture_rate    gain      cumulative_gain
--  -------  --------------------------  -----------------  --------  -----------------  ---------------  --------------------------  --------------  -------------------------  --------  -----------------
    1        0.193105                    1                  5.16078   5.16078            1                1                           0.996573        0.996573                   416.078   416.078
    2        0.200007                    1.63161e-18        0.496498  4.99981            0.096206         0.96881                     0.00342697      1                          -50.3502  399.981
    3        1                           1e-19              0         1                  0                0.193769                    0               1                          -100      0

ModelMetricsBinomial: gbm
** Reported on validation data. **

MSE: 9.019213478083135e-35
RMSE: 9.496953973818729e-18
LogLoss: 3.813205341055566e-19
Mean Per-Class Error: 0.0
AUC: 1.0
Gini: 1.0
Confusion Matrix (Act/Pred) for max f1 @ threshold = 1.0:

       0      1     Error    Rate
-----  -----  ----  -------  -------------
0      10674  0     0        (0.0/10674.0)
1      0      2719  0        (0.0/2719.0)
Total  10674  2719  0        (0.0/13393.0)

Maximum Metrics: Maximum metrics at their respective thresholds

metric                       threshold    value    idx
---------------------------  -----------  -------  -----
max f1                       1            1        0
max f2                       1            1        0
max f0point5                 1            1        0
max accuracy                 1            1        0
max precision                1            1        0
max recall                   1            1        0
max specificity              1            1        0
max absolute_mcc             1            1        0
max min_per_class_accuracy   1            1        0
max mean_per_class_accuracy  1            1        0

Gains/Lift Table: Avg response rate: 20,30 %

    group    cumulative_data_fraction    lower_threshold    lift       cumulative_lift    response_rate    cumulative_response_rate    capture_rate    cumulative_capture_rate    gain      cumulative_gain
--  -------  --------------------------  -----------------  ---------  -----------------  ---------------  --------------------------  --------------  -------------------------  --------  -----------------
    1        0.201449                    1                  4.92571    4.92571            1                1                           0.992277        0.992277                   392.571   392.571
    2        1                           1e-19              0.0096718  1                  0.00196353       0.203017                    0.00772343      1                          -99.0328  0

Scoring History:

     timestamp            duration          number_of_trees    training_rmse           training_logloss        training_auc        training_lift      training_classification_error    validation_rmse         validation_logloss      validation_auc      validation_lift    validation_classification_error
---  -------------------  ----------------  -----------------  ----------------------  ----------------------  ------------------  -----------------  -------------------------------  ----------------------  ----------------------  ------------------  -----------------  ---------------------------------
     2019-08-11 20:19:20  0.107 sec         0.0                0.39525019470827893     0.49164246290565106     0.5                 1.0                0.8062307685113308               0.4023509828638167      0.5048263146194903      0.5                 1.0                0.796983498842679
     2019-08-11 20:19:21  0.613 sec         5.0                0.25826223795400366     0.25700982792617244     0.9981392558499586  5.160778067381021  0.00942752125400997              0.26034612293740694     0.25990451425137323     0.9981211370198803  4.925707980875322  0.008735906816993952
     2019-08-11 20:19:21  0.823 sec         10.0               0.1694852008714708      0.15038661890666483     0.9999752317214816  5.160778067381021  0.0015806062419917509            0.16904578382548818     0.15100147678927775     0.9999797399310041  4.925707980875322  0.001119988053460763
     2019-08-11 20:19:21  1.065 sec         15.0               0.12619929942639244     0.10202194594149314     0.9999779546363327  5.160778067381021  0.0017770129347836252            0.12400614559127213     0.10163777217953308     0.9999821001601304  4.925707980875322  0.0011946539236914807
     2019-08-11 20:19:22  1.963 sec         20.0               0.09328778190503008     0.06744240841889923     0.9999806730717843  5.160778067381021  0.0015151373443944595            0.0900864434372346      0.06666748014866657     0.9999912482014882  4.925707980875322  0.0006719928320764578
---  ---                  ---               ---                ---                     ---                     ---                 ---                ---                              ---                     ---                     ---                 ---                ---
     2019-08-11 20:20:27  1 min  6.427 sec  1015.0             5.453666502214489e-18   1.349865725173449e-19   1.0                 5.160778067381021  0.0                              9.101071999133758e-18   3.4816222679203e-19     1.0                 4.925707980875322  0.0
     2019-08-11 20:20:27  1 min  6.570 sec  1020.0             4.517158785874674e-18   9.241388426187459e-20   1.0                 5.160778067381021  0.0                              8.896527407348844e-18   3.3158307313526665e-19  1.0                 4.925707980875322  0.0
     2019-08-11 20:20:27  1 min  6.693 sec  1025.0             5.6915674082561765e-18  1.4640851326881254e-19  1.0                 5.160778067381021  0.0                              9.688831013313152e-18   3.9789968776231996e-19  1.0                 4.925707980875322  0.0
     2019-08-11 20:20:27  1 min  6.827 sec  1030.0             5.227004775150911e-18   1.2356463176587726e-19  1.0                 5.160778067381021  0.0                              1.0242918591674004e-17  4.144788414190833e-19   1.0                 4.925707980875322  0.0
     2019-08-11 20:20:27  1 min  6.950 sec  1035.0             5.731933640366658e-18   1.484852297690794e-19   1.0                 5.160778067381021  0.0                              9.496953973818729e-18   3.813205341055566e-19   1.0                 4.925707980875322  0.0

See the whole table with table.as_data_frame()
Variable Importances:

variable          relative_importance    scaled_importance    percentage
----------------  ---------------------  -------------------  ------------
group_code        38384.5                1                    0.492495
segment_code      13488                  0.351393             0.173059
customer_code     9526.86                0.248196             0.122235
seller_code       9247.78                0.240925             0.118654
total_price       3124.44                0.0813985            0.0400884
sales_channel     2719.01                0.0708362            0.0348865
order_id          996.477                0.0259604            0.0127854
unit_price        177.956                0.00463614           0.00228328
item_code         124.059                0.00323202           0.00159175
dayofmonth        51.0454                0.00132984           0.000654942
year              36.6799                0.000955591          0.000470624
quantity          29.7306                0.000774548          0.000381461
item_total_price  17.7501                0.000462428          0.000227744
weekofyear        5.36225                0.000139698          6.88008e-05
dayofweek         4.3892                 0.000114348          5.6316e-05
dayofyear         4.23889                0.000110432          5.43874e-05
month             0.33773                8.7986e-06           4.33327e-06
is_month_start    0.0682163              1.77719e-06          8.75256e-07
is_month_end      0.0512656              1.33558e-06          6.57768e-07

In [56]:
aml.leaderboard

model_id,auc,logloss
GBM_grid_0_AutoML_20190811_201902_model_0,"1,000000","0,000000"
GBM_grid_0_AutoML_20190811_201902_model_1,"1,000000","0,000000"
DRF_0_AutoML_20190811_201902,"1,000000","0,005682"
XRT_0_AutoML_20190811_201902,"0,999999","0,018917"
GLM_grid_0_AutoML_20190811_201902_model_0,"0,945772","0,174354"

In [57]:
# If you need to generate predictions on a test set, you can make
# predictions directly on the `"H2OAutoML"` object, or on the leader
# model object directly

preds = aml.predict(test)

Parse progress: |█████████████████████████████████████████████████████████| 100%
gbm prediction progress: |████████████████████████████████████████████████| 100%

In [58]:
(train.as_data_frame)

branch_id,customer_code,group_code,is_churn,item_code,item_total_price,order_id,quantity,sales_channel,segment_code,seller_code,total_price,unit_price,dayofmonth,dayofyear,dayofweek,month,year,weekofyear,is_month_start,is_month_end
0,588,0,0,1768,166.04,0,2,6,0,212,710.79,79.07,4,4,4,1,2008,1,0,0
0,588,0,0,2675,255.9,0,20,6,0,212,710.79,11.42,4,4,4,1,2008,1,0,0
0,588,0,0,282,363.08,0,20,6,0,212,710.79,16.21,4,4,4,1,2008,1,0,0
0,114,2,1,2675,382.65,1,50,7,2,130,341.65,6.83,5,5,5,1,2008,1,0,0
0,435,0,0,2624,495.83,2,32,1,0,3,3035.75,14.76,7,7,0,1,2008,2,0,0
0,681,0,0,1778,116.56,6,3,6,0,45,705.94,34.69,7,7,0,1,2008,2,0,0
0,681,0,0,416,128.46,6,10,6,0,45,705.94,11.47,7,7,0,1,2008,2,0,0
0,613,0,0,1767,520.61,4,10,8,0,177,1006.41,49.58,7,7,0,1,2008,2,0,0
0,681,0,0,282,155.95,6,8,6,0,45,705.94,17.4,7,7,0,1,2008,2,0,0
0,681,0,0,2630,176.85,6,10,6,0,45,705.94,16.84,7,7,0,1,2008,2,0,0

In [59]:
lb=aml.leaderboard
lb.head(rows=lb.nrows)

model_id,auc,logloss
GBM_grid_0_AutoML_20190811_201902_model_0,"1,000000","0,000000"
GBM_grid_0_AutoML_20190811_201902_model_1,"1,000000","0,000000"
DRF_0_AutoML_20190811_201902,"1,000000","0,005682"
XRT_0_AutoML_20190811_201902,"0,999999","0,018917"
GLM_grid_0_AutoML_20190811_201902_model_0,"0,945772","0,174354"

In [60]:
print('Generate Predictions!')

testy=aml.leader.predict(test)
#testy=testy.as_data_frame()

Generate Predictions!
gbm prediction progress: |████████████████████████████████████████████████| 100%

In [61]:
# very nice
testy

predict,p0,p1
0,1,1e-19
0,1,1e-19
0,1,1e-19
0,1,1e-19
0,1,1e-19
0,1,1e-19
0,1,1e-19
0,1,1e-19
0,1,3.51619e-19
0,1,1e-19

In [405]:
#(test['is_churn']==testy['predict']).sum()/testy.shape[0]

In [62]:
test['is_churn']

is_churn
0
0
0
0
0
0
0
0
0
0

In [63]:
testy['predict']

predict
0
0
0
0
0
0
0
0
0
0

# Calculation of some metrics of the predicted model!

# The f1_score

In [65]:
f1_score(testy['predict'].as_data_frame(),test['is_churn'].as_data_frame())

0.762225147481839

# The Recall

In [66]:
recall_score(testy['predict'].as_data_frame(),test['is_churn'].as_data_frame())

1.0

# The Precision

In [67]:
precision_score(testy['predict'].as_data_frame(),test['is_churn'].as_data_frame())

0.6158027414526548

# The ROC AUC score

In [68]:
roc_auc_score(testy['predict'].as_data_frame(),test['is_churn'].as_data_frame())

0.9600383474541551

# O valor de 'ROC AUC Score' acima, que é próximo a 1, mostra que temos um modelo bom para classificação binária do target 'is_churn'.

# Question 4 (60 Points)
A. Explain each and every of your design choices, you can use jupyter notebooks. (e.g., preprocessing, model selection, hyper parameters, evaluation criteria). Compare and contrast your choices with alternative methodologies.

## Foi escolhido utilizar o h2o para efetuar os cálculos de machine learning, pois é um pacote que otimiza o tempo de cálculo de cada algoritmo e tem uma ótima automatização. O h2o consegue achar o melhor modelo e qual modelo prediz melhor o 'target', juntamente com os parâmetros do modelo que vão gerar os melhores resultados, permitindo saber qual a melhor faixa de parâmetros a serem escolhidos no modelo.

## Foi retirada a validação cruzada (cross-validation), colocando o parâmetro nfolds=0, uma vez que ela não é uma boa prática para séries temporais. A melhor técnica no caso para cross validation é a 'walkforward' [https://medium.com/@samuel.monnier/cross-validation-tools-for-time-series-ffa1a5a09bf9]. No entanto, essa técnica de cross validation não está implementada no automl. 

## A métrica mais interessante para o problema de prever 'is_churn', uma vez que é uma classificação binária, é a "ROC AUC" (Area Under the ROC Curve), pois ela está intimamente ligada com a taxa de true positives e falsos positivos.
## O melhor modelo foi obtido com base na métrica "ROC AUC", que é feito automaticamente no h2o. 

## Alternativamente, é interessante olhar para as métricas recall e precision, uma vez que elas estão relacionadas com 'true positives' e 'falsos positivos'. Essas métricas são importantes que elas identificam bem casos em que houve uma predição errada [https://medium.com/@yashwant140393/the-3-pillars-of-binary-classification-accuracy-precision-recall-d2da3d09f664].

B. Describe how you would improve the model in Question 3 if you had more time.

# Seguem a seguir algumas melhorias que poderiam ser feitas no modelo (caso houvesse mais tempo):

1. O modelo poderia ser melhorado usando **feature engineering**, por exemplo, definindo novos features em termos dos antigos.
2. Também poderia ser trabalhada a **remoção de outliers**, removendo, por exemplo, 10% dos dados mais "fora da curva" que seriam os que estão mais distantes da média, com base em uma função custo que é a diferença entre predição (através de uma regressão linear dos dados) e o valor do ponto, e assim eliminando-os do conjunto de dados;
3. Também é possível aumentar o número de modelos testados e o tempo de execução total dos cálculos ou o tempo máximo de cada modelo;
4. Poderíamos também refinar o melhor modelo que foi encontrado (aqui LightGBM) e refinar os parâmetros que o h2o devolve ao final dos cálculos;
5. poderíamos também melhor as features temporais e adicionar feriados regionais e nacionais.